#sidebar{
	width: 80%;
	padding: 5px;
	margin: 20px auto;
	color: $White;

	.steps{
		width: 100%;
		display: flex;
		margin: 30px auto;

		h2{
			font-size: 1.1rem;
			width: 20px;
			height: 20px;
			margin: 0 auto;
			padding: 4px;
			border: 1px solid $White;
			border-radius: 50%;
			text-align: center;
			align-items: center;
		}

		.step{
			width: 70%;
			margin: 0 auto;
			display: block;

			h3{
				font-size: 0.95rem;
			}
		}
	}
}