#your-info{
	width: 500px;
	padding: 10px;
	margin: 0 2% 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	form{
		width: 100%;
		margin: 40px auto 10px 5%;
		display: flex;
		flex-direction: column;
		text-align: left;

		label{
			color: $Marine-blue;
			margin-left: 5px
		}

		.data{
			width: 75%;
			height: 30px;
			margin: 5px 0 10px 5px;
			border: 1px solid $Cool-gray;
			border-radius: 5px;
			font-size: 1.1rem;
			color: $Marine-blue;
		}

		.data::placeholder{
			margin-left: 10px;
			font-size: 0.9rem;
		}

		button{
			width: 80px;
			padding: 10px;
			border: 0;
			border-radius: 5px;
			background-color: $Marine-blue;
			margin: 50px 0 5px 60%;

			a{
				font-size: 1.1rem;
				color: $White;
			}
		}

		button:hover{
			background-color: $Marine-blue;
			opacity: 0.8;
		}
	}
}