#your-plan{
	width: 500px;
	padding: 10px;
	margin: 0 2% 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.plans{
		width: 80%;
		margin: 20px 5% 20px 5%;
		display: flex;
		justify-content: start;
		align-items: center;
		text-align: left;

		.plan-to-choose{
			width: 30%;
			height: 135px;
			margin: 0 auto;
			display: grid;
			border: 1px solid $Cool-gray;
			border-radius: 5px;
			cursor: pointer;

			img{
				margin: 10% 75% 25% 10%;
				padding: 5px;
			}

			h4{
				color: $Marine-blue;
				margin: 1% 75% 0 10%;
			}

			p{
				margin: 0 75% 1% 10%;
			}

			.promo{
				display: none;
				font-size: 0.8rem;
				color: $Marine-blue;
				width: 100%;
			}
		}

		.plan-to-choose:hover{
			border: 1px solid $Pastel-blue;
			box-shadow: 2px 2px 8px $Light-blue;
		}
	}

	.plan-toggle{
		width: 75%;
		margin: 10px auto 20px 5%;
		background-color: $Magnolia;
		color: $Cool-gray;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		border-radius: 5px;

		.month{
			margin: 0 0 0 33%;
			color: $Marine-blue;
		}

		.toggle{
			width: 26px;
			height: 14px;
			border: 1px solid $Marine-blue;
			border-radius: 10px;
			background-color: $Marine-blue;
			margin: 0 auto;

			.round{
				width: 12px;
				height: 12px;
				margin: 1px 0 0 1px;
				border-radius: 50%;
				background-color: $Alabaster;
				cursor: pointer;
			}

			.round-clicked{
				width: 12px;
				height: 12px;
				margin: 1px 0 0 13px;
				border-radius: 50%;
				background-color: $Alabaster;
				cursor: pointer;
			}
		}

		.year{
			margin: 0 33% 0 0;
		}
	}

	.navigation{
		width: 80%;
		margin: 40px auto 5px 5%;;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a{
			.back{
			font-size: 1.1rem;
			border: 0;
			background-color: transparent;
			color: $Cool-gray;
			cursor: pointer;
			}

			.back:hover{
				color: $Marine-blue;
			}

			.next{
				font-size: 1.1rem;
				width: 80px;
				padding: 10px;
				border: 0;
				border-radius: 5px;
				background-color: $Marine-blue;
				color: $White;
				cursor: pointer;
			}

			.next:hover{
				background-color: $Marine-blue;
				opacity: 0.8;
			}

		}
	}
}

	
